*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
gen/
build/
.navigation/
*.hprof

# Android Studio
.idea/
*.iws
*.iml
*.ipr
out/

# Gradle
.gradle/
build/

# Log Files
*.log

# OS
.DS_Store
Thumbs.db
